{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'app/script/main.js' %}"></script>
<script type="text/javascript" src="{% static 'app/script/svg-pan-zoom.min.js' %}"></script>
<script type="text/javascript">ridings={{ riding_data|safe }}</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}
<div class="container poll-container py-3">
    <h1 class="py-3">Polls</h1>
    <div class="row">
        <div class="col-sm poll-box">
            <h1>Liberals:</h1>
            <h1 class="info-lib">{{ poll_average.current.LIB|floatformat:2 }}%</h1>
        </div>
        <div class="col-sm poll-box">
            <h1>PC:</h1>
            <h1 class="info-pc">{{ poll_average.current.PC|floatformat:2 }}%</h1>
        </div>
        <div class="col-sm poll-box">
            <h1>NDP:</h1>
            <h1 class="info-ndp">{{ poll_average.current.NDP|floatformat:2 }}%</h1>
        </div>
        <div class="col-sm poll-box">
            <h1>Other:</h1>
            <h1 class="info-oth">{{ poll_average.current.OTH|floatformat:2 }}%</h1>
        </div>
    </div>
</div>
<div class="container riding-container">
    <h1 class="py-3 text-center">Riding Map</h1>
    <object id="riding-map" type="image/svg+xml" data="{% static 'app/img/ridings_map.svg' %}">
        Your browser does not support SVG.
    </object>
    <div id="riding-info" class="container">
        <h3 class="my-3" id="riding-name">Select a Riding</h3>
        <h5>Projected Results:</h5>
        <div class="row">
            <p class="col-sm float-left">Liberal:</p>
            <p class="col sm info-lib float-right text-right" id="riding-result-lib"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">PC:</p>
            <p class="col sm info-pc float-right text-right" id="riding-result-pc"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">NDP:</p>
            <p class="col sm info-ndp float-right text-right" id="riding-result-ndp"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">Other:</p>
            <p class="col sm info-oth float-right text-right" id="riding-result-oth"></p>
        </div>
        <h5 class="mt-3">Party Swings</h5>
        <div class="row">
            <p class="col-sm float-left">Liberal:</p>
            <p class="col sm info-lib float-right text-right" id="riding-swing-lib"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">PC:</p>
            <p class="col sm info-pc float-right text-right" id="riding-swing-pc"></p>
        </div>
        <div class="row my-0">
            <p class="col-sm float-left">NDP:</p>
            <p class="col sm info-ndp float-right text-right" id="riding-swing-ndp"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">Other:</p>
            <p class="col sm info-oth float-right text-right" id="riding-swing-oth"></p>
        </div>
    </div>
</div>
{% endblock %}