{% extends 'app/base.html' %}

{% load static %}
{% load party_utils %}

{% block js %}
<script type="text/javascript" src="{% static 'app/script/main.js' %}"></script>
<script type="text/javascript" src="{% static 'app/script/svg-pan-zoom.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript">ridings={{ riding_data|safe }}</script>
<script type="text/javascript">pastPolls={{ past_polls|safe }}</script>
<script type="text/javascript">seatOutcomes={{seat_outcomes|safe}}</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
{% endblock %}

{% block content %}
<div class="container result-container text-center py-3">
    <h1 class="text-center py-3">Projection</h1>
    <h3 class="d-inline">The current projections indicate a </h3>
    <h3 class="{{ projection.result.1|party_class}} d-inline">{{projection.result.1|party_name}}</h3>
    <h3 class="d-inline">{{ projection.result.0 }}</h3>
    <h3 class="d-inline"> with </h3>
    <h3 class="{{ projection.result.1|party_class}} d-inline">{{projection.result.2}}</h3>
    <h3 class="d-inline"> seats.</h3>
</div>
<div class="container poll-container py-3">
    <div class="row">
        {% for party, average in current_average.current.items %}
        <div class="col-sm poll-box">
            <h1>{{ party|party_name }}:</h1>
            <h1 class="{{ party|party_class }}">{{ average|floatformat:2 }}%</h1>
            <h1 class="{{ party|party_class }}">{{ projection.seats|lookup:party }} seat{{ projection.seats|lookup:party|pluralize }}</h1>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container py-3">
    <canvas class="d-inline" id="poll_graph" width="1080" height="300"></canvas>
</div>
<div class="container riding-container py-3">
    <h1 class="py-3 text-center">Riding Map</h1>
    <object id="riding-map" type="image/svg+xml" data="{% static 'app/img/ridings_map.svg' %}">
        Your browser does not support SVG.
    </object>
    <div id="riding-info" class="container">
        <h3 class="my-3" id="riding-name">Select a Riding</h3>
        <h5>Projected Results:</h5>
        <div class="row">
            <p class="col-sm float-left">Liberal:</p>
            <p class="col sm info-lib float-right text-right" id="riding-result-lib"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">PC:</p>
            <p class="col sm info-pc float-right text-right" id="riding-result-pc"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">NDP:</p>
            <p class="col sm info-ndp float-right text-right" id="riding-result-ndp"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">Other:</p>
            <p class="col sm info-oth float-right text-right" id="riding-result-oth"></p>
        </div>
        <h5 class="mt-3">Party Swings</h5>
        <div class="row">
            <p class="col-sm float-left">Liberal:</p>
            <p class="col sm info-lib float-right text-right" id="riding-swing-lib"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">PC:</p>
            <p class="col sm info-pc float-right text-right" id="riding-swing-pc"></p>
        </div>
        <div class="row my-0">
            <p class="col-sm float-left">NDP:</p>
            <p class="col sm info-ndp float-right text-right" id="riding-swing-ndp"></p>
        </div>
        <div class="row">
            <p class="col-sm float-left">Other:</p>
            <p class="col sm info-oth float-right text-right" id="riding-swing-oth"></p>
        </div>
    </div>
</div>
<div class="container prob-container py-3">
    <h1 class="text-center">Seat Distributions:</h1>
    <canvas class="d-inline" id="seat-graph" width="1080" height="300"></canvas>
</div>
{% endblock %}