body {
    font-family: 'Oswald', sans-serif;
}

#riding-map {
    width: 75%;
    height: 100vh;
    background: #2b65ec;
}

#riding-info {
    width: 25%;
    float: right;
}

.poll-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

